<div class="row">
  <div class="col-3">
 <form #f="ngForm" (ngSubmit)=send(f.value)>
        <ul class="list-group">
            <li class="list-group-item">
                <div class="form-group">
                  <label for="property type">Property type</label>
                  <div class="input-group">
                    <select #property [(ngModel)] = "ad.property" name="property" id = "property" class="form-control">
                      <option value = "house">House</option>
                      <option value="apartament">Apartament</option>
                      <option value="studio">Studio</option>
                    </select>
                </div>
                </div>
              </li>

              <li class="list-group-item">
                  <div class="form-group">
                    <label for="city">City</label>
                    <div class="input-group">
                        <input #city [(ngModel)] = "ad.city" name="city" id ="cit" class="form-control"/>  
                  </div>
                  </div>
              </li>

              <li class="list-group-item">
                  <div class="form-group">
                    <label for="area">Area</label>
                    <div class="input-group">
                      <input #area [(ngModel)] = "ad.area" name="area" id="area"  class="form-control"/>
                  </div>
                  </div>
              </li>

              <li class="list-group-item">
                  <div class="form-group">
                    <label for="rooms">Rooms</label>
                    <div class="input-group">
                        <select #rooms [(ngModel)] = "ad.rooms" name="rooms" id = "number_of_rooms" class="form-control">
                            <option value = "1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                          </select>
                  </div>
                  </div>
              </li>

              <li class="list-group-item">
                  <div class="form-group">
                    <label for="floor">Floor</label>
                    <div class="input-group">
                        <input #floor [(ngModel)] = "ad.floor" name="floor" id = "floor" type = "number"class="form-control" />
                  </div>
                  </div>
              </li>

              <li class="list-group-item">
                  <div class="form-group">
                    <label for="price">Price</label>
                    <div class="input-group">
                      <input #price [(ngModel)] = "ad.price" name="price" id ="price" type="number" class="form-control">
                  </div>
                  </div>
              </li>
            </ul>
        <button class="btn btn-primary" >Find</button>
        <button (click) ="reset()" class="btn btn-light" type="button">Reset</button>
      </form> 
    </div>
    
  <div class="col-9">
      <div class="row ">
          <ng-container *ngFor="let ad of ads$;let i = index" class="card" style="width: 18rem;">
            <div class="col">
                <img class="card-img-top" [src]="ad.imageURL" alt="">
                <div class="card-body">
                  
                  <p  class="card-text">Property: {{ad.property}}</p>
                  <p  class="card-text">City: {{ad.city}}</p>
                  <p  class="card-text">Area: {{ad.area}}</p>
                  <p  class="card-text">Rooms: {{ad.rooms}}</p>
                  <p  class="card-text">Floor: {{ad.floor}}</p>
                  <p  class="card-text">Price: {{ad.price | currency:'RUB'}} </p>
                  <p  class="card-text">Description: {{ad.description}}</p>
                  
                </div>
            </div>
            <div *ngIf ="(i+1)%3===0"class="w-100" ></div>
          </ng-container>
        </div>
  </div>
</div>

