<div class="row">
  
  <div class="col-lg-3 col-sm-4">


      <ng-template #content let-c="close" let-d="dismiss">
          <div class="modal-header">
            <h4 class="modal-title">Modal title</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>One fine body&hellip;</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-light" (click)="c('Close click')">Close</button>
          </div>
        </ng-template>
        
        <button class="btn btn-outline-primary mb-2 mr-2" (click)="openWindowCustomClass(content)">Modal with window custom class</button>
        <button class="btn btn-outline-primary mb-2 mr-2" (click)="openBackDropCustomClass(content)">Modal with backdrop custom class</button>
        <button class="btn btn-outline-primary mb-2 mr-2" (click)="openSm(content)">Small modal</button>
        <button class="btn btn-outline-primary mb-2 mr-2" (click)="openLg(content)">Large modal</button>




    
      <div class="sticky-top">
    <form #f="ngForm" (ngSubmit)=send(f.value)>
        <ul class="list-group">
            <li class="list-group-item">
                <div class="form-group">
                  <label for="property type">Property type</label>
                  <div class="input-group">
                    <select #property [(ngModel)] = "ad.property" name="property" id = "property" class="form-control">
                      <option value = "house">House</option>
                      <option value="apartament">Apartament</option>
                      <option value="studio">Studio</option>
                    </select>
                </div>
                </div>
              </li>

              <li class="list-group-item">
                  <div class="form-group">
                    <label for="city">City</label>
                    <div class="input-group">
                        <input #city [(ngModel)] = "ad.city" name="city" id ="cit" class="form-control"/>  
                  </div>
                  </div>
              </li>

              <li class="list-group-item">
                  <div class="form-group">
                    <label for="area">Area</label>
                    <div class="input-group">
                      <input #area [(ngModel)] = "ad.area" name="area" id="area"  class="form-control"/>
                  </div>
                  </div>
              </li>

              <li class="list-group-item">
                  <div class="form-group">
                    <label for="rooms">Rooms</label>
                    <div class="input-group">
                        <select #rooms [(ngModel)] = "ad.rooms" name="rooms" id = "number_of_rooms" class="form-control">
                            <option value = "1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                          </select>
                  </div>
                  </div>
              </li>

              <li class="list-group-item">
                  <div class="form-group">
                    <label for="floor">Floor</label>
                    <div class="input-group">
                        <input #floor [(ngModel)] = "ad.floor" name="floor" id = "floor" type = "number"class="form-control" />
                  </div>
                  </div>
              </li>

              <li class="list-group-item">
                  <div class="form-group">
                    <label for="price">Price</label>
                    <!-- TODO поменять на слайдер -->
                    <div class="input-group">
                      <input #price [(ngModel)] = "ad.price" name="price" id ="price" type="number" class="form-control">
                  </div>
                  </div>
              </li>
            </ul>
            <div class="card-footer">
               
              
        <button (click) = "find()" class="btn btn-primary" >Find</button>
        <button (click) ="reset()" class="btn btn-light" type="button">Reset</button>
      </div>
      </form> 
    </div>
  </div>
  <div class=" col-lg-9 col-sm-8">
    
      <div class="row ">
          <ng-container *ngFor="let ad of ads$;let i = index" class="card" style="width: 18rem;">
            <div class="col-lg-4 col-md-6 col-sm-12">
              <ad-card [ad]="ad" [show-actions]="true"></ad-card>
            </div>
          </ng-container>
        </div>
  </div>
</div>

