<form>
<div class="form-group">
  <label for="Property type">Property type</label>
  <input id = "Property" class="form-control"/>
</div>

 
<div class="form-group">
  <label for="City">City</label>
  <input id ="City" class="form-control"/>
</div>
  
<div class="form-group">
  <label for="Area">Area</label>
  <input id="Area" class="form-control"/>
</div>

<div class="form-group">
  <label for="Floor">Floor</label>
  <input id = "Floor"class="form-control"/>
</div>
<div class="form-group">
  <label for="Description">Description</label>
  <input id ="Description" class="form-control"/>
</div>
<div class="form-group">
  <label for="Image Url">Image Url</label>
  <input id = "Image_Url"class="form-control">
</div>
      
 
</form>