
<ad [ad]="ad" class="clickable">
    <div class="card">
        <img class="card-img-top" [src]="ad.imageURL[0]" alt="">
        <div class="card-body">
                          
          <p  class="card-text">Property: {{ad.property}}</p>
          <p  class="card-text">City: {{ad.city}}</p>
          <p  class="card-text">Area: {{ad.area}}</p>
          <p  class="card-text">Rooms: {{ad.rooms}}</p>
          <p  class="card-text">Floor: {{ad.floor}}</p>
          <p  class="card-text">Price: {{ad.price | currency:'RUB'}} </p>
          
        </div>
        <div *ngIf="showActions" class="card-footer">
         <add-order [ad]="ad"></add-order>
        </div>
        </div>
</ad>